

<div class="head-customer-detail">
<div class="back-btn" style="width:30px">
    <a href="customers">
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    </a>
</div>
 <div class="name-of-head" style="width:200px">
    <h3>Chi tiết nhân viên</h3>
 </div>
 <div class="fix-customer-detail">
     <a href="#" style="text-decoration:none;">Chỉnh sửa</a>
 </div>
</div>

<div class="card">
  <h5 class="card-header d-flex justify-content-start"> 
        <div class="col-2" style="width:150px;padding-top:3px">
            <h4 class="card-text">Thông tin</h4>
        </div>
        
  </h5>
  <div class="card-body" style="display:flex;flex-direction:column;">
      
    <form><br><br>
        <div class="form-group row" style="border-top:1px solid gray;">
            <label for="inputName" class="col-sm-2 col-form-label">Mã nhân viên</label>
            <div class="col-sm-10">
            <label for="inputName" class="col-sm-2 col-form-label">ABC</label>
        </div>
        </div><br><br>
        <div class="form-group row" style="border-top:1px solid gray;">
            <label for="inputName" class="col-sm-2 col-form-label">Tên nhân viên</label>
            <div class="col-sm-10">
            <label for="inputName" class="col-sm-2 col-form-label">ABC</label>

            </div>
        </div><br><br>
        <div class="form-group row" style="border-top:1px solid gray;">
            <label for="inputPhoneNumber" class="col-sm-2  col-form-label-lg">SĐT</label>
            <div class="col-sm-10">
                 <label for="inputPhoneNumber" class="col-sm-2  col-form-label-lg">SĐT</label>

            </div>
        </div><br><br>
        <div class="form-group row" style="border-top:1px solid gray;">
            <label for="inputAddress" class="col-sm-2  col-form-label-lg">Địa chỉ</label>
            <div class="col-sm-10">
                <label for="inputAddress" class="col-sm-2  col-form-label-lg">Địa chỉ</label>
            </div>
        </div><br><br>
        <div class="form-group row" style="border-top:1px solid gray;">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>

            </div>
        </div><br><br>
        
        <fieldset class="form-group" >
            <div class="row" style="border-top:1px solid gray;">
            <legend class="col-form-label col-sm-2 pt-0">Giới tính</legend>
            <div class="col-sm-10">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                    Nam
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                    Nữ
                </label>
                </div>
                <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
                <label class="form-check-label" for="gridRadios3">
                    Khác
                </label>
                </div>
            </div>
            </div>
        </fieldset>
    </form>
  </div>
   
</div>
<div class="card">
    <div class="card-body">
       <div class="header-card">
           <p>Bảo mật và chức vụ</p>
       </div>
       <div class="body-card" id="employee-card" style="border-top:1px solid gray;">
           <br><br>
           <div class="card-col-1">
               <p>Chức vụ</p>
           </div>
           <div class="card-col-1">
               <p>Nhân viên bán hàng</p>
           </div>
           <div class="card-col-2">
               <a href="#">
                   <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
               </a>
               
           </div>
       </div>
   </div>
</div>


