<h1>
    <a href="/bills" class="btn btn-outline-primary" role="link"><-</a>
    Chi tiết đơn nhập kho
</h1>

<div>
    <div class="row">
        <div class="col-8 col">
            <div class="row-6">

            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm mt-2 mb-4 table-borderless">
                        <tbody>
                        <td>
                            <input class="small float-left col-3" type="number" readonly>
                        </td>
                        <tr >

                            <th >Mã hàng:</th>
                            <td >HH0001</td>
                        </tr>
                        <tr>
                            <th>Tên mặt hàng:</th>
                            <td>Bút</td>
                        </tr>
                        <tr>
                            <th>Đơn giá:</th>
                            <td>1000đ</td>
                        </tr>
                        <tr>
                            <th>Đơn vị tính:</th>
                            <td>Cái</td>
                        </tr>

                        </tbody>

                    </table>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
        <div class="col-4 card" style="padding: 20px 10px 20px 10px">
            <h5 class="font-weight-bold" style="padding-top: 10px">Mã đơn nhập kho</h5>
            <hr style="margin-top: -5px">
            <p>KK1</p>

            <h5 class="font-weight-bold" style="padding-top: 10px">Thông tin cơ bản</h5>
            <hr style="margin-top: -5px">
            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Thời gian lập: </p>
                <input class="col-5"  readonly>
            </label>
            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Mã nhân viên: </p>
                <input class="col-5" type="text" readonly value="NV0001">
            </label>

            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Tên nhân viên: </p>
                <input class="col-5" type="text" readonly value="Nguyễn Văn A">
            </label>
            <h5 class="font-weight-bold" style="padding-top: 10px">Nhà cung cấp</h5>
            <div class="dropdown-divider"></div>
            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Mã nhà cung cấp: </p>
                <input class="col-5" readonly value="NCC0001">
            </label>

            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Tên nhà cung cấp: </p>
                <input class="col-5" readonly value="Nguyễn Văn A">
            </label>
            <h5 class="font-weight-bold" style="padding-top: 10px">Tổng tiền thanh toán</h5>
            <hr style="margin-top: -5px">
            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Thành tiền: </p>
                <input class="col-5" type="number" readonly value="1.000.000đ">
            </label>
            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Giảm giá: </p>
                <input class="col-5" type="number" readonly value="20.000đ">
            </label>
            <label class="row" style="margin-bottom: 5px">
                <p class="col-6">Thực tế: </p>
                <input class="col-5" type="number" readonly value="1.980.000đ">
            </label>
            <h5 class="font-weight-bold pt-1 m-0">Ghi chú</h5>
            <div class="dropdown-divider"></div>
            <input type="text"  readonly value="(viết ghi chú ở đây)">
        </div>
    </div>
</div>


