<h1>
    <a>
        <a href="/suppliers" class="btn btn-outline-primary" role="link"><-</a>
        </a>
        Danh sách nhà cung cấp
</h1>

<body>


    <div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="input-group justify-content-end">
                    <input type="text" placeholder="Tìm kiếm">
                    <a class="btn btn-outline-primary" href="#" role="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br />


    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Loại : Tất cả</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Tình trạng : Tất cả</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Sắp xếp : Không sắp xếp</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>


    <br />




    <div class="row">
    {{#each Supplier}}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Mã nhà cung cấp:</p>
                            <p>Tên nhà cung cấp:</p>
                            <p>Địa chỉ nhà cung cấp:</p>
                            <a href="/supplierDetail/?id={{MaNhaCungCap}}" class="btn btn-primary" role="button">-></a>
                        </div>
                        <div class="col-sm-6">
                            <p>{{MaNhaCungCap}}</p>
                            <p>{{TenNhaCungCap}}</p>
                            <p>{{DiaChi}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>



</body>