

{{!-- <div class="jumbotron text-center">
  <h1>Quản lý nhà cung cấp</h1>
  <p>Quản lý thông tin của các nhà cung cấp trong cửa hàng</p> 
</div> --}}

<div class="jumbotron">
  <h1>Quản lý nhà cung cấp</h1>
  <p>Quản lý thông tin của các nhà cung cấp trong cửa hàng</p>
</div>  

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Thêm nhà cung cấp</h3>
      <p>Thêm một nhà cung cấp mới vào cửa hàng</p>

      <a href="/supplierNew" class="btn btn-primary" role="button">Di chuyển tới trang</a>

    </div>

    <div class="col-sm-6">
      <h3>Xem lọc và chỉnh sửa nhà cung cấp</h3>        
      <p>Xem và lọc nhà cung cấp</p>
      
      <a href="/supplierList" class="btn btn-primary" role="button">Di chuyển tới trang</a>
      

    </div>
  </div>
</div>




