<h1>
    <div class="containters">
        <div class="text-left">
            <a>
                <a href="/supplierList" class="btn btn-outline-primary" role="link">
                    <- </a>
                </a>
                Thông tin chi tiết nhà cung cấp
        </div>


        <div class="text-right">
            <a>
                <a href="#" class="btn btn-outline-info" id="modifySupplier" role="link">
                    Chỉnh sửa</a>
            </a>
        </div>

    </div>

</h1>

<br />

<body>

    <div class="row">
        <div class="card">
            <div class="card-header" id="headInfoSupplier">
                <p>Thông tin nhà cung cấp</p>
            </div>


            <div class="card-body">

                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Mã nhà cung cấp
                    </div>
                    <div class="col-sm-8">
                        NCC001
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Tên nhà cung cấp
                    </div>
                    <div class="col-sm-8">
                        ABC
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        SDT
                    </div>
                    <div class="col-sm-8">
                        123456789
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Email
                    </div>
                    <div class="col-sm-8">
                        a@gmail.com
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Địa chỉ
                    </div>
                    <div class="col-sm-8">
                        Q5
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="containers">
                    <div class="text-left">
                        <a>
                            <a href="#" class="btn btn-outline-danger" id="removeSupplier" role="link">
                                Xóa nhà cung cấp
                            </a>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <style>
        #headInfoSupplier {
            border-bottom: 3px solid whitesmoke;
            padding-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
        }

        #infoSupplier {
            border-bottom: 3px solid whitesmoke;
            padding-bottom: 25px;
            font-size: 14px;
            font-weight: bold;
        }

        #modifySupplier {
            margin-right: 0px;
        }

        #removeSuplier {
            border-bottom: 3px solid whitesmoke;
            font-size: 12px;
            margin-right: 0px;
        }
    </style>
</body>